.DS_Store
.coverage
coverage
.ven
*.pyc
*.py~
.Python
pip-log.txt
*.swp
*.swo
*.db
media/*
!media/site
.sass-cache/
log/*
.idea/*
.cache/*
*.egg-info
*#*#*
virtualenv/*
env/*
.env/*
settings/temp.py
docs/_build/
docs/_static/
django-courriers/
pybbm/
node_modules/
npm-debug.log
*.orig
credentials.py
tests/.cache/*
.cache
celerybeat-schedule
src/media/*
src/mnemotopy/media/*
django-*
python-*
src/mnemotopy/settings/prod.py
src/mnemotopy/settings/local_prod.py
static/*
src/static/*
