Django==1.11
Pillow==4.0.0
psycopg2==2.7
django-countries==4.1
six==1.10.0
django-separatedvaluesfield==0.4.0
django-sluggable==0.4.0
django-extensions==1.7.5
PyVimeo==0.3.9
django-modeltranslation==0.12.1
django-pure-pagination==0.3.0
django-storages==1.5.2
raven==6.3.0
boto==2.47.0
celery==3.1.25
moviepy==0.2.3.2
numpy==1.13.3
sorl-thumbnail==12.4.1
PyYAML==3.12
ua-parser==0.7.3
user-agents==1.1.0
django-user-agents==0.3.2
gunicorn==19.9.0
dj-database-url==0.5.0
whitenoise==4.1.2
-e git://github.com/louiseGrandjonc/imageio.git@1ffeb2d8e7fcc609ce35be4db98d7ac4e452900c#egg=imageio-2.2.0
