Django==1.11
Pillow==4.0.0
psycopg2==2.7
django-countries==4.1
six==1.10.0
django-separatedvaluesfield==0.4.0
django-sluggable==0.4.0
django-extensions==1.7.5
PyVimeo==0.3.9
django-modeltranslation==0.12.1
django-pure-pagination==0.3.0
django-storages==1.5.2
boto==2.47.0
celery==3.1.25
django-celery==3.2.1
