{% extends "mnemotopy/base.html" %}
{% load i18n %}
{% load static %}

{% block extend_header %}

    {% if request.user and request.user.is_staff and project.pk %}
        <div class="edit-menu">
            <nav class="edit-nav">
                <ul class="edit-nav__list">
                    {% if is_editing %}
                        <li class="edit-nav__item edit-nav__item--icon">
                            <a class="edit-nav__link" href="" data-tooltip="{% trans 'Back to your project page' %}">
                                <svg class="edit-nav__icon icon-arrow-left-o">
                                    <use xlink:href="#icon-arrow-left-o"/>
                                </svg>
                            </a>
                        </li>
                    {% endif %}
                    <li class="edit-nav__item ">
                        <a class="edit-nav__link" href="{% url 'project_edit' pk=project.pk %}">
                            <span class="edit-nav__label">{%  trans "Edit this project" %}</span>
                        </a>
                    </li>

                    <li class="edit-nav__item ">
                        <a class="edit-nav__link" href="{% url 'project_edit_media' pk=project.pk %}">
                            <span class="edit-nav__label">{%  trans "Edit slideshow" %}</span>
                        </a>
                    </li>

                    <li class="edit-nav__item edit-nav__item--icon">
                        <a class="edit-nav__link b-tooltip b-tooltip--bottom b-tooltip--right" href="{% url 'admin:mnemotopy_project_change' project.id %}" data-tooltip="{% trans 'Admin' %}">
                            <span style="font-size:2em"></span>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
    {% endif %}
{% endblock %}
