{% extends "mnemotopy/project/base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load thumbnail %}

{% block extend_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/category.css' %}">
{% endblock %}

{% block main %}
    <div class="category__content">
        <div class="category__title">
            <h1>{% for category in categories %}{{ category.name|title }} {% if not forloop.last %}, {% endif %}{% endfor %}</h1>
        </div>

        <ul class="category__projects infinite-container">
            {% for project in object_list %}
                <li class="category__project infinite-item">
                    <a class="category__project__link" href="{% url 'project_detail' project.slug %}">

                        {% if project.main_media and project.main_media.image %}
                            {% thumbnail project.main_media.image "800" as im %}
                            <div class="category__project__media" style="background-image:url('{{ im.url }}?upscale=1')">
                            </div>
                            {% endthumbnail %}
                        {% elif project.main_media and project.main_media.thumbnail_file %}
                            {% thumbnail project.main_media.thumbnail_file "800" as im %}
                            <div class="category__project__media" style="background-image:url('{{ im.url }}?upscale=1')">
                            </div>
                            {% endthumbnail %}
                        {% endif %}

                        <div class="category__project__description">
                            {{ project.name|title }}
                        </div>

                        <div class="category__project__date">
                            {% if project.ended_at %}
                                {{ project.ended_at|date:'F Y' }}
                            {% else %}
                                {{ project.created_at|date:'F Y' }}
                            {% endif %}
                        </div>

                    </a>
                </li>
            {% endfor %}
        </ul>

        {% if page_obj.has_next %}
            <a style="display: none;" class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">More</a>
        {% endif %}

        <div class="loading" style="display: none;">
            <i class="icon fa fa-spinner fa-pulse"></i>
        </div>

    </div>
{% endblock %}

{% block extend_js %}
    {{ block.super }}

    <script src="{% static 'js/waypoints/lib/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/waypoints/lib/shortcuts/infinite.min.js' %}"></script>

    <script type="text/javascript">
     var infinite = new Waypoint.Infinite({
         element: $('.infinite-container')[0],
         onBeforePageLoad: function () {
             $('.loading').show();
         },
         onAfterPageLoad: function ($items) {
             $('.loading').hide();
         }
     });
    </script>

{% endblock %}
