@import 'edit_nav';

$category: '.category';


#{$category} {
    &__title {
        text-align: center;
    }

    &__content {
        width: 80%;
        margin: 40px auto 60px auto;
        max-width: 1024px;
    }

    &__projects {
        padding: 0;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 50px;
    }

    &__project {
        width: 28%;
        margin: 2%;
        display: inline-block;
        text-align: left;

        a {
            text-decoration: none;
            color: #000;
            font-size: 14px;
        }
    }

    &__project__image {
        width: 100%;
    }

    @media (max-width: 800px) {
        &__project {
            width: 45%;
        }
    }

    @media (max-width: 650px) {
        &__project {
            width: 100%;
            margin: 2% 0 5% 0;
        }
    }
}

.loading {
    font-size: 30px;
    text-align: center;
    color: #bdbdbd;
}