$pagination: '.footer-pagination';

#{$pagination} {
    background-color: #FAFAFA;
    border-bottom: 0;
    border: 0;
    border-radius: 0;
    background: #FAFAFA;
    padding: 1em;
    margin: 2px;
    text-align: center;

    &__list {
        padding: 0;
        margin: 0;
        display: inline-block;
        margin-left: 0;
        margin-bottom: 0;
        border-radius: 3px;
    }

    &__item {
        display: inline;

    }

    &__description {
        float: left;
        padding: 2px 12px;
        line-height: 31px;
        text-decoration: none;
        margin: 0 4px;
        font-size: 15px;
        color: #525252;
        font-weight: 700;
        border-radius: 3px;

        &.active {
            color: silver;
            background-color: #FFF;
            border: 1px solid #DDD;
        }

        &.disabled {
            opacity: 0.5;
            background-color: transparent;
            cursor: auto;
        }

        &:not(.disabled) {
            &:hover {
                color: silver;
            }
        }
    }
}