/*------------------------------------*\
    #HEADER
\*------------------------------------*/


$nav: '.header-nav';

.header-site {
    border-bottom: 1px solid #e0e0e0;
    position: fixed;
    width: 100%;
    z-index: 300;
    background: white;
}

#{$nav} {
    text-align: center;
    margin: 10px;

    &__item {
        display: inline;
    }

    &__langs {
        display: inline-block;
        line-height: 40px;
        color: #313131;

        .current-lang {
            color: #313131 !important;
        }

        a:link {
            text-decoration: none;
            display:inline-block;
            color: #e0e0e0;
        }
        a:visited {
            text-decoration: none;
            color: #e0e0e0;
        }
        a:hover {
            text-decoration: none;
        }
        a:active {
            text-decoration: none;
            color: #e0e0e0;
        }
    }

    .nav-home {
        width: 80%;
        max-width: 1300px;
        margin-left: auto;
        display: inline-block;
        font-style: normal;
        font-size: 18px;
        letter-spacing: 0.2px;
        color: #313131;

        a:link {
            text-decoration: none;
        }
        a:visited {
            text-decoration: none;
            color: #313131;
        }
        a:hover {
            text-decoration: none;
        }
        a:active {
            text-decoration: none;
            color: #313131;
        }

    }

    .nav-lang {
        position: absolute;
        right: 40px;
    }

    &__title {
        display: inline-block;
        position: relative;
    }

    &__link {
        text-align: left;
        margin-left: 0px;
        height: 100%;
        width: auto;
        position: relative;
        line-height: 40px;
        float: left;
        color: #313131;
    }

    &__link-first {
        padding: 0 2em;
    }

    &__link-next {
        margin-right: 2em;
        color: #313131;
        font-size: 15px;
    }

    &__logo {
        height: 40px;
        vertical-align: middle;
    }

    @media (max-width: 750px) {
        .nav-home {
            display: none;
        }
    }

    &__mobile {
        display: none;
        text-align: left;
        margin-left: 40px;
    }

    @media (max-width: 750px) {
         &__mobile {
            display: block;
         }

         &__link {
             width: 100%;
         }

         &__link-first {
             padding: 0;
         }

    }
}
