/*------------------------------------*\
    #HEADER
\*------------------------------------*/


$nav: '.header-nav';

.header-site {
    border-bottom: 5px solid #313131;
    position: fixed;
    width: 100%;
    z-index: 300;
    background: white;
}

#{$nav} {
    text-align: center;
    margin: 10px;

    &__item {
        display: inline;
    }

    &__langs {
        display: inline-block;
        line-height: 40px;
        color: #313131;

        .current-lang {
            color: #313131 !important;
        }

        a:link {
            text-decoration: none;
            display:inline-block;
            color: #e0e0e0;
        }
        a:visited {
            text-decoration: none;
            color: #e0e0e0;
        }
        a:hover {
            text-decoration: none;
        }
        a:active {
            text-decoration: none;
            color: #e0e0e0;
        }
    }

    .nav-home {
        display: inline-block;
        text-align: center;
        font-weight: 700;
        font-style: normal;
        font-size: 18px;
        letter-spacing: 0.2px;
        color: #313131;

        a:link {
            text-decoration: none;
            display:inline-block;
        }
        a:visited {
            text-decoration: none;
            color: #313131;
        }
        a:hover {
            text-decoration: none;
        }
        a:active {
            text-decoration: none;
            color: #313131;
        }

    }

    .nav-lang {
        position: absolute;
        right: 40px;
    }

    &__title {
        display: inline-block;
        position: relative;
        color: #313131;
    }

    &__link {
        text-align: center;
        height: 100%;
        width: auto;
        display: block;
        position: relative;
        padding: 0 2em;
        margin-left: -1px;
        line-height: 40px;
    }

    &__logo {
        height: 40px;
        vertical-align: middle;
    }

    @media (max-width: 750px) {
        &__title {
            display: none;
        }
    }
}