@import 'edit_nav';


$project: '.project';

#{$project} {
    &__content {
        margin-bottom: 50px;
        width: 80%;
    }
}

@media (max-width: 1240px) {
    body .galleria-thumbnails .galleria-image {
        width:29vw !important;
    }
}

@media (max-width: 800px) {
    body .galleria-thumbnails .galleria-image {
        width:45vw !important;
    }
}

@media (max-width: 700px) {
    body .galleria-thumbnails .galleria-image {
        width:80vw !important;
    }
}

@media (max-width: 600px) {
    body .galleria-thumbnails .galleria-image {
        width:90vw !important;
    }
}