@import 'edit_nav';
@import 'slide';

$project: '.project';

html {
    height: 100%;
    margin: 0;
    font-size: 13px;
}

body {
    padding-top: 0 !important;
    margin: 0px;
}

#{$project} {
    &__title {
        text-align: center;
        font-size: 16px;
        margin: 0;
     }

     &__subtitle {
         text-align: center;
         font-size: 16px;
         font-weight: normal;
         margin: 0;
         color: #545454;
     }

     &__date {
         text-align: center;
         margin-bottom: 30px;
         font-size: 16px;
         color: #727272;
     }

     &__content {
         width: 80%;
         margin: 40px auto 60px auto;
         max-width: 1024px;
     }

     &__information {
         display: inline-block;
         width: 29%;
         margin-right: 5%;
         text-align: justify;
         vertical-align: middle;
         font-size: 16px;
         color: #545454;
     }

     @media (max-width: 1300px) {
         &__information {
             margin-left: 10%;
             width: 80%;
             margin-right: 0;
             margin-bottom: 30px;
         }

     }
}