@import 'edit_nav';


$project: '.project';

#main {
    color: #313131;
}

#{$project} {
    &__content {
        margin-bottom: 50px;
        font-size: 16px;
    }

    &__title, &__subtitle, &__date {
        text-align: center;
        font-size: 16px;
        margin: 0;
    }

    &__title {
        margin-top: 30px;
    }

    &__subtitle {
        font-weight: normal;
        margin: 0;
        color: #545454;
    }

    &__date {
         text-align: center;
         margin-bottom: 30px;
         font-size: 16px;
         color: #727272;
     }

    &__information {
        width: 80%;
        margin-left: 10%;
        text-align:justify;
    }
}

@media (max-width: 1240px) {
    body .galleria-thumbnails .galleria-image {
        width:29vw !important;
    }
}

@media (max-width: 800px) {
    body .galleria-thumbnails .galleria-image {
        width:45vw !important;
    }
}

@media (max-width: 700px) {
    body .galleria-thumbnails .galleria-image {
        width:80vw !important;
    }
}