@import 'edit_nav';


$project: '.project';

#{$project} {
    &__content {
        margin-bottom: 50px;
    }

    &__title, &__subtitle {
        text-align: center;
    }

    &__information {
        width: 80%;
        margin-left: 10%;
        text-align:justify;
    }
}

@media (max-width: 1240px) {
    body .galleria-thumbnails .galleria-image {
        width:29vw !important;
    }
}

@media (max-width: 800px) {
    body .galleria-thumbnails .galleria-image {
        width:45vw !important;
    }
}

@media (max-width: 700px) {
    body .galleria-thumbnails .galleria-image {
        width:80vw !important;
    }
}