.tags-container {

    list-style: none;
    display:flex;
    flex-wrap: wrap;

    .tag {
        position: relative;
        text-align: center;
        margin: 5px;
        margin-bottom: 30px;

        input {
            visibility: hidden;
            display: none !important;
            width: 0px;
            height: 0px;
            margin: 0;
            padding: 0;

        }

        label {
            height: 100%;
            margin-right: 10px;
            padding: 10px;
            cursor: pointer;
            background: #f5f6f9;
        }
    }

    .tag.active {
        label {
            background: #bdbdbd;
        }
    }
}