{% load i18n %}

<fieldset class="shutter {% if form.errors  %} shutter__error {% endif %} shutter__open" {% if media.pk %}data-edit="{% url 'project_edit_update_media' pk=project.pk media_pk=media.pk %}"{% else %}data-edit="{% url 'project_edit_create_media' pk=project.pk %}"{% endif %}>
    <header class="shutter__switch">
        <h3 class="shutter__title">
            {% if media.pk %}
                {{ media.title }}

                <span class="shutter__shortcuts_2">
                    <form action="{% url "project_edit_delete_media" pk=project.pk media_pk=media.pk %}" class="shortcuts delete-form" method="post">
                        {% csrf_token %}
                        <button class="media-delete-btn shutter__shortlink" type="submit" data-toggle="tooltip" title="{% trans "Delete this media" %}" data-placement="left">
                            <i class="icon fa fa-trash-o"></i>
                        </button>
                    </form>
                </span>

            {% else %}
                {% trans "Add a new media" %}
            {% endif %}
        </h3>

        <span class="shutter__indicator">
            <span class="shutter__help">{% trans 'Edit media (title, file)' %}</span>
        </span>
    </header>

    <section class="shutter__content">
        <form {% if media.pk %}action="{% url 'project_edit_update_media' pk=project.pk media_pk=media.pk %}" {% else %}action="{% url 'project_edit_create_media' pk=project.pk %}"{% endif %} method="post" class="media-form" enctype="multipart/form-data">
            {% csrf_token %}
            {% with field=form.title_en %}
                <div class="edit-form__group">
                    <label class="edit-form__label">
                        {{ field.label }}
                    </label>
                    <div class="edit-form__input {% if field.errors %} edit-form__input--errors{% endif %}">
                        {{ field }}
                        {% if field.errors %}
                            <div class="edit-form__errors">
                                {{ field.errors }}
                            </div>
                        {% endif %}

                    </div>
                </div>
            {% endwith %}

            {% with field=form.title_fr %}
                <div class="edit-form__group">
                    <label class="edit-form__label">
                        {{ field.label }}
                    </label>
                    <div class="edit-form__input {% if field.errors %} edit-form__input--errors{% endif %}">
                        {{ field }}
                        {% if field.errors %}
                            <div class="edit-form__errors">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endwith %}

            {% with field=form.type %}
                <div class="edit-form__group">
                    <label class="edit-form__label">
                        {{ field.label }}
                    </label>
                    <div class="edit-form__input {% if field.errors %} edit-form__input--errors{% endif %}">
                        {{ field }}
                        {% if field.errors %}
                            <div class="edit-form__errors">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>

                </div>
            {% endwith %}

            {% with field=form.position %}
                <div class="edit-form__group">
                    <label class="edit-form__label">
                        {{ field.label }}
                    </label>
                    <div class="edit-form__input {% if field.errors %} edit-form__input--errors{% endif %}">
                        {{ field }}
                        {% if field.errors %}
                            <div class="edit-form__errors">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endwith %}

            {% with field=form.languages %}
                <div class="edit-form__group">
                    <label class="edit-form__label">
                        {{ field.label }}
                    </label>
                    <div class="edit-form__input {% if field.errors %} edit-form__input--errors{% endif %}">
                        {{ field }}
                        {% if field.errors %}
                            <div class="edit-form__errors">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endwith %}

            {% with field=form.image %}
                <div class="image-field edit-form__group">
                    <label class="edit-form__label">
                        {{ field.label }}
                    </label>
                    <div class="edit-form__input {% if field.errors %} edit-form__input--errors{% endif %}">
                        {{ field }}
                        {% if field.errors %}
                            <div class="edit-form__errors">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endwith %}

            {% with field=form.video %}
                <div class="video-field edit-form__group">
                    <label class="edit-form__label">
                        {{ field.label }}
                    </label>
                    <div class="edit-form__input {% if field.errors %} edit-form__input--errors{% endif %}">
                        {{ field }}
                        {% if field.errors %}
                            <div class="edit-form__errors">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>

                </div>
            {% endwith %}

            {% with field=form.audio %}
                <div class="audio-field edit-form__group">
                    <label class="edit-form__label">
                        {{ field.label }}
                    </label>
                    <div class="edit-form__input {% if field.errors %} edit-form__input--errors{% endif %}">
                        {{ field }}
                        {% if field.errors %}
                            <div class="edit-form__errors">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endwith %}

            {% with field=form.thumbnail_file %}
                <div class="thumbnail-file-field audio-field edit-form__group">
                    <label class="edit-form__label">
                        {{ field.label }}
                    </label>
                    <div class="edit-form__input {% if field.errors %} edit-form__input--errors{% endif %}">
                        {{ field }}
                        {% if field.errors %}
                            <div class="edit-form__errors">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>

                </div>
            {% endwith %}
        </form>
    </section>

</fieldset>
