{% extends "mnemotopy/project/edit/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans 'Update Project Medias' %} -- {{ project.name }}
{% endblock %}

{% block main_inner %}
    class="edit-project"
{% endblock %}

{% block main %}
    <header class ="edit-project__header">
        <div class="edit-project__title">
            <h2>
                {% trans 'Edit project slideshow' %} - {{ project.name }}
            </h2>
            <span class="subtitle">{% trans 'Add medias (video/audio/pictures) to your project.' %}
            </span>
        </div>
    </header>

    <div class="edit-project__popup-overlay" id="saving" style="display:none;">
        <section class="final">
            <h2>
                <i class="icon fa fa-spin fa-spinner"></i>
                {% trans "Medias are being sent to servor." %}
            </h2>

            <p class="information">
                {% trans "Be patient... If it's a video, go grab a coffee" %}
            </p>
        </section>
    </div>

    <div id="main">
        {% for media in medias %}
            <fieldset class="shutter" data-edit="{% url 'project_edit_update_media' pk=project.pk media_pk=media.pk %}">
                <header class="shutter__switch">
                    <h3 class="shutter__title">{{ media.title }}
                        <span class="shutter__shortcuts_2">
                            <form action="{% url "project_edit_delete_media" pk=project.pk media_pk=media.pk %}" class="shortcuts delete-form" method="post">
                        {% csrf_token %}
                                <button class="media-delete-btn shutter__shortlink" type="submit" data-toggle="tooltip" title="{% trans "Delete this media" %}" data-placement="left">
                                    <i class="icon fa fa-trash-o"></i>
                                </button>
                            </form>
                        </span>

                    </h3>

                    <span class="shutter__indicator">
                        <span class="shutter__help">{% trans 'Edit media (title, file)' %}</span>
                    </span>
                </header>
            </fieldset>
        {% endfor %}
        <div class="add-media">
            <a class="media-add-btn" href="{% url 'project_edit_create_media' pk=project.pk %}" ><i class="icon icon-plus"></i>{% trans "Add a media" %}</a>
        </div>
    </div>
{% endblock %}

{% block extend_js %}
    {{ block.super }}
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script type="text/javascript">
     $(document).ready(function() {
         var toSubmit = 0;

         function toggleFields(input) {
             var current_form = $(input).parents('.shutter__content');
             if ($(input).val() == 0) {
                 current_form.find('.image-field').show();
                 current_form.find('.video-field').hide();
                 current_form.find('.audio-field').hide();
                 current_form.find('.url-field').hide();
                 current_form.find('.thumbnail-file-field').hide();
             }

             if ($(input).val() == 1) {
                 current_form.find('.image-field').hide();
                 current_form.find('.video-field').show();
                 current_form.find('.url-field').show();
                 current_form.find('.audio-field').hide();
                 current_form.find('.thumbnail-file-field').show();
             }

             if ($(input).val() == 2) {
                 current_form.find('.image-field').hide();
                 current_form.find('.video-field').hide();
                 current_form.find('.audio-field').show();
                 current_form.find('.url-field').hide();
                 current_form.find('.thumbnail-file-field').show();
             }

         }

         function submitMedia(form) {
             console.log(form);
             form.ajaxSubmit({
                 url: form.attr('action'),
                 type: 'post',
                 success: function(responseText, statusText, xhr) {
                     var current = form.parents('.shutter:first');
                     current.replaceWith(responseText);
                     toSubmit -= 1;
                 }.bind(form)
             });
         }

         $(document).ajaxComplete(function(e) {
             $('.radio-type:checked').each(function(){
                 toggleFields(this);
             });
             if (toSubmit == 0) {
                 $('#saving').hide();
             }
         });

         $(document)
              .on('click', '.media-add-btn', function(e) {
                    e.preventDefault();
                    e.stopPropagation();
                    var mediaDiv = $(this).parent();
                    $.get($(this).attr('href'), function(data) {
                        mediaDiv.before(data);
                    });
               })
               .on('click', '.media-delete-btn', function(e) {
                   e.preventDefault();
                   e.stopPropagation();
                   var form = $(this).parents('.delete-form:first'),
                        currentMedia = $(this).parents('.shutter:first');

                    form.ajaxSubmit({
                        url: form.attr('action'),
                        type: 'post',
                        success: function(responseText, statusText, xhr) {
                            currentMedia.remove();
                        }.bind(form)

                    });
                })
               .on('click', '.shutter__switch', function(e) {
                   e.preventDefault();
                   e.stopPropagation();
                   var mediaDiv = $(this).parent();
                   if (mediaDiv.find('.shutter__content').length) {
                       mediaDiv.toggleClass('shutter__open');
                   } else {
                       $.get(mediaDiv.data('edit'), function(data) {
                           mediaDiv.replaceWith(data);
                       });
                   }
                })
                .on('change', '.radio-type', function(e) {
                    toggleFields(this);
                })
                .on('change', 'input:file', function(e) {
                    var form = $(this).parents('.media-form:first');

                    if (form.find('.radio-type:checked').val() != "2" || (form.find('input[name=audio]').val() != '' && form.find('input[name=thumbnail_file]').val() != '')) {
                        toSubmit = 1;
                        $('#saving').show();
                        submitMedia(form);
                    }
                })
                .on('click', '.action-save-form', function(e) {
                    e.preventDefault();
                    e.stopPropagation();
                    toSubmit = $('.media-form').length;

                    if (toSubmit > 0) {
                        $('#saving').show();
                        $('.media-form').each(function(i){
                            submitMedia($(this));
                        });
                    }
                })
               .on('click', '.tag', function(e) {
                   e.preventDefault();
                   var checkbox = $(this).children('input');
                   checkbox.prop('checked', !checkbox.attr("checked"));
                   console.log($(this));
                   $(this).toggleClass('active');
               });

     });
    </script>

{% endblock %}
