{% extends "mnemotopy/project/base.html" %}
{% load i18n %}
{% load static %}

{% block extend_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/project.css' %}">
    <link rel="stylesheet" href="{% static 'css/backoffice.css' %}">
{% endblock %}

{% block extend_footer %}
    {% if is_editing and is_editing != 'index' %}
        <footer class="edit-footer">
            <ul class="edit-footer__actions">
                <li class="edit-footer__btn">
                    <a href="" class="action-save-form edit-footer__link">{% trans "Save" %}</a>
                </li>
            </ul>
        </footer>
    {% endif %}
{% endblock %}
