{% extends "mnemotopy/project/edit/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% if project %}
       {% trans 'Update ' %} - {{ project.name }}
    {% else %}
        {% trans 'Create Project' %}
    {% endif %}
{% endblock %}

{% block head_js %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/ckeditor/ckeditor.js' %}"></script>
    <script src="{% static 'js/ckeditor/adapters/jquery.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
{% endblock %}


{% block main_inner %}
    class="edit-project"
{% endblock %}

{% block main %}
    <header class ="edit-project__header">
        <div class="edit-project__title">
            <h2>
                {% if form.instance.pk %}
                    {% trans 'Update Project' %} - {{ project.name }}
                {% else %}
                    {% trans 'Create Project' %}
                {% endif %}
            </h2>
            <span class="subtitle">{% trans 'Enter all information about your project except medias.' %}
            </span>
        </div>
    </header>

    <div id="main">
        <form method="post" id="submit-form" enctype="multipart/form-data">
            {% csrf_token %}

            <fieldset class="shutter {% if form.position.errors or form.country.error or form.categories.errors or form.tags.errors or form.started_at.errors or form.ended_at.errors or form.published.errors or form.archived.errors %} shutter__error shutter__open{% endif %}">
                <header class="shutter__switch">
                    <h3 class="shutter__title">{% trans 'Main information about project' %}</h3>
                    <span class="shutter__indicator">
                        <span class="shutter__help">{% trans 'Edit country, categories, tags, etc.' %}</span>
                        <i class="shutter__icon fa fa-pencil-square-o"></i>
                    </span>
                </header>
                <section class="shutter__content test">
                    {% with field=form.position %}
                        <div class="edit-form__group">
                            <label class="edit-form__label">
                                {{ field.label }}
                            </label>

                            <div class="edit-form__input {% if field.errors %}edit-form__input--errors{% endif %}">
                                {{ field }}

                                {% if field.errors %}
                                    <div class="edit-form__errors">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                    {% endwith %}

                    {% with field=form.country %}
                        <div class="edit-form__group">
                            <label class="edit-form__label">
                                {{ field.label }}
                            </label>
                            <div class="edit-form__input {% if field.errors %}edit-form__input--errors{% endif %}">
                                {{ field }}
                            </div>
                        </div>
                    {% endwith %}

                    {% with field=form.categories %}
                        <div class="edit-form__group">
                            <label class="edit-form__label">
                                {{ field.label }}
                            </label>

                            <div class="edit-form__input {% if field.errors %}edit-form__input--errors{% endif %}">
                                {{ field }}
                                {% if field.errors %}
                                    <div class="edit-form__errors">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                    {% endwith %}

                    {% with field=form.tags %}
                        <div class="edit-form__group">
                            <label class="edit-form__label">
                                {{ field.label }}
                            </label>

                            <div class="edit-form__input {% if field.errors %}edit-form__input--errors{% endif %}">
                                {{ field }}
                                {% if field.errors %}
                                    <div class="edit-form__errors">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                    {% endwith %}

                    {% with field=form.started_at %}
                        <div class="edit-form__group">
                            <label class="edit-form__label">
                                {{ field.label }}
                            </label>

                            <div class="edit-form__input {% if field.errors %}edit-form__input--errors{% endif %}">
                                {{ field }}
                                {% if field.errors %}
                                    <div class="edit-form__errors">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endwith %}

                    {% with field=form.ended_at %}
                        <div class="edit-form__group">
                            <label class="edit-form__label">
                                {{ field.label }}
                            </label>

                            <div class="edit-form__input {% if field.errors %}edit-form__input--errors{% endif %}">
                                {{ field }}
                                {% if field.errors %}
                                    <div class="edit-form__errors">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endwith %}


                    {% with field=form.archived %}
                        <div class="edit-form__group">
                            <label class="edit-form__label">
                                <span class="edit-form__checkbox-label">{{ field.label }}</span>
                            </label>
                            <div class="edit-form__input {% if field.errors %}edit-form__input--errors{% endif %}">
                                {{ field }}
                            </div>

                        </div>
                    {% endwith %}

                    {% with field=form.published %}
                        <div class="edit-form__group">
                            <label class="edit-form__label">
                                <span class="edit-form__checkbox-label">{{ field.label }}</span>
                            </label>
                            <div class="edit-form__input {% if field.errors %}edit-form__input--errors{% endif %}">
                                {{ field }}
                            </div>

                        </div>
                    {% endwith %}
                </section>
            </fieldset>

            <fieldset class="shutter {% if form.name_en.errors or form.subtitle_en.errors or form.description_en.errors %} shutter__error shutter__open{% endif %}">
                <header class="shutter__switch">
                    <h3 class="shutter__title">{% trans 'English content' %}</h3>
                    <span class="shutter__indicator">
                        <span class="shutter__help">{% trans 'Edit english description and title' %}</span>
                        <i class="shutter__icon fa fa-flag-o"></i>
                    </span>
                </header>
                <section class="shutter__content">

                    {% with field=form.name_en %}
                        <div class="edit-form__group">
                            <label class="edit-form__label">
                                {{ field.label }}
                            </label>

                            <div class="edit-form__input {% if field.errors %}edit-form__input--errors{% endif %}">
                                {{ field }}
                                {% if field.errors %}
                                    <div class="edit-form__errors">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                            </div>

                        </div>
                    {% endwith %}

                    {% with field=form.subtitle_en %}
                        <div class="edit-form__group">
                            <label class="edit-form__label">
                                {{ field.label }}
                            </label>
                            <div class="edit-form__input {% if field.errors %}edit-form__input--errors{% endif %}">
                                {{ field }}
                                {% if field.errors %}
                                    <div class="edit-form__errors">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                            </div>

                        </div>
                    {% endwith %}

                    {% with field=form.description_en %}
                        <div class="edit-form__group">
                            <label class="edit-form__label">
                                {{ field.label }}
                            </label>
                            <div class="edit-form__input edit-form__text {% if field.errors %}edit-form__input--errors{% endif %}">
                                {{ field }}
                                {% if field.errors %}
                                    <div class="edit-form__errors">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endwith %}
                </section>
            </fieldset>

            <fieldset class="shutter {% if form.name_fr.errors or form.subtitle_fr.errors or form.description_fr.errors %} shutter__error shutter__open{% endif %}">
                <header class="shutter__switch">
                    <h3 class="shutter__title">{% trans 'French content' %}</h3>
                    <span class="shutter__indicator">
                        <span class="shutter__help">{% trans 'Edit french description and title' %}</span>
                        <i class="shutter__icon fa fa-flag-o"></i>
                    </span>
                </header>
                <section class="shutter__content">

                    {% with field=form.name_fr %}
                        <div class="edit-form__group">
                            <label class="edit-form__label">
                                {{ field.label }}
                            </label>
                            <div class="edit-form__input {% if field.errors %}edit-form__input--errors{% endif %}">
                                {{ field }}
                                {% if field.errors %}
                                    <div class="edit-form__errors">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endwith %}

                    {% with field=form.subtitle_fr %}
                        <div class="edit-form__group">
                            <label class="edit-form__label">
                                {{ field.label }}
                            </label>
                            <div class="edit-form__input {% if field.errors %}edit-form__input--errors{% endif %}">
                                {{ field }}
                                {% if field.errors %}
                                    <div class="edit-form__errors">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endwith %}

                    {% with field=form.description_fr %}
                        <div class="edit-form__group">
                            <label class="edit-form__label">
                                {{ field.label }}
                            </label>
                            <div class="edit-form__input edit-form__text {% if field.errors %}edit-form__input--errors{% endif %}">
                                {{ field }}
                                {% if field.errors %}
                                    <div class="edit-form__errors">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                            </div>

                        </div>
                    {% endwith %}
                </section>
            </fieldset>
        </form>
    </div>
{% endblock %}

{% block extend_js %}
    {{ block.super }}

    <script type="text/javascript">
     $(document).ready(function() {
         $( '.rte' ).ckeditor();
         $( '.hasDatepicker' ).datepicker({
             altFormat: "yyyy-mm-dd",
             changeMonth: true,
             changeYear: true
         });
         $('.action-save-form').click(function (e) {
             e.preventDefault();
             e.stopPropagation();
             form = $('#submit-form');
             if (form.length) {
                 form.submit();
             }
         });

         $('.shutter__switch').click(function(e) {
             e.preventDefault();
             e.stopPropagation();
             $(this).parent().toggleClass('shutter__open');
         })

     });
    </script>

{% endblock %}
