{% extends "mnemotopy/project/edit/base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load static %}

{% block title %}
    {% trans 'Project list' %}
{% endblock %}


{% block main_inner %}
    class="edit-project edit-project-list"
{% endblock %}

{% block main %}
    <header class ="edit-project__header">
        <div class="edit-project__title">
            <h2> {% trans 'Edit your projects' %}
            </h2>
            <span class="subtitle">{% trans 'Here are all your projects, select the one you want to edit.' %}
            </span>
        </div>
    </header>

    <div id="main">

        {% for project in object_list %}
            <fieldset class="shutter">
                <header class="shutter__switch">
                    <h3 class="shutter__title">
                        {{ project.name }}

                        <span class="shutter__shortcuts_2">
                            <a class="shutter__shortlink" href="{% url 'project_edit' pk=project.pk %}" title="{% trans 'Edit content/publish/archive' %}">
                                <i class="fa fa-pencil-square-o"></i>
                            </a>
                            <a class="shutter__shortlink" href="{% url 'project_edit_media' pk=project.pk %}" title="{% trans 'Edit medias' %}">
                                <i class="fa fa-image"></i>
                            </a>
                        </span>

                    </h3>

                    <span class="shutter__indicator">
                        <span class="shutter__help">{% trans 'Created by ' %}{{ project.user }}</span>
                    </span>
                </header>
            </fieldset>
        {% endfor %}

        {% if is_paginated %}
            <nav class="footer-pagination">
                <ul class="footer-pagination__list">
                    {% if page_obj.has_previous %}
                        <li class="footer-pagination__item">
                            <a class="footer-pagination__link" href="?page={{ page_obj.previous_page_number }}" title="{% trans "previous page" %}">
                                <span class="footer-pagination__description">
                                    <i class="icon fa fa-chevron-left">&nbsp;</i>
                                </span>
                            </a>
                        </li>
                    {% else %}
                        <li class="footer-pagination__item">
                            <span class="footer-pagination__description disabled">
                                <i class="icon fa fa-chevron-left">&nbsp;</i>
                            </span>
                        </li>
                    {% endif %}
                    {% for page in page_obj.pages %}
                        {% if page %}
                            {% if page == page_obj.number %}
                                <li class="footer-pagination__item">
                                    <span class="footer-pagination__description active">{{ page }}</span>
                                </li>
                            {% else %}
                                <li class="footer-pagination__item">
                                    <a class="footer-pagination__link" href="?page={{ page }}" class="page">
                                        <span class="footer-pagination__description">{{ page }}</span>
                                    </a>
                                </li>
                            {% endif %}
                        {% else %}
                            <li class="footer-pagination__item">
                                <span class="footer-pagination__description disabled"><i class="icon icon-ellipsis-h"></i></span>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="footer-pagination__item" >
                            <a class="footer-pagination__link" href="?page={{ page_obj.next_page_number }}" title="{% trans "next page" %}">
                                <span class="footer-pagination__description">
                                    <i class="icon fa fa-chevron-right">&nbsp;</i>
                                </span>
                            </a>
                        </li>
                    {% else %}
                        <li class="footer-pagination__item">
                            <span class="footer-pagination__description">
                                <i class="icon fa fa-chevron-right">&nbsp;</i>
                            </span>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}

    </div>
{% endblock %}
