{% extends "mnemotopy/project/detail/base.html" %}

{% load static from staticfiles %}

{% block extend_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/project_mobile.css' %}">

    <style>

     /* This rule is read by Galleria to define the gallery height: */
     .galleria{
         height: 600px;
     }

     body .galleria-thumbnails .galleria-image { width:400px }

    </style>
{% endblock %}

{% block extend_js %}
    {{ block.super }}

    <script>
     $(function() {

         var screenTurned = false;
        // Load the Folio theme
        Galleria.loadTheme('{% static "js/galleria/themes/folio/galleria.folio.js" %}');

        // Initialize Galleria
        Galleria.run('.galleria', {
            _center: true
        });

        function refresh_gallery() {
            gallery = Galleria.get(0);
            gallery.destroy();

            Galleria.run('.galleria', {
                _center: true
            });
        }

        $( window ).on( 'orientationchange', function() {
            if (!$('.galleria-container.fullscreen').length) {
                refresh_gallery()
            } else {
                screenTurned = true;
            }

        });

         $('.galleria').on('closed', function (){
             if (screenTurned) {
                 refresh_gallery();
             }
        });

    });
    </script>
{% endblock %}
