{% extends "mnemotopy/project/detail/base.html" %}

{% load static from staticfiles %}

{% block extend_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/project.css' %}">

    <style>

     /* This rule is read by Galleria to define the gallery height: */
     .galleria{
         height:420px;
         min-width: 578px !important;
         width: 60%;
         display: inline-block;
         vertical-align: middle;
     }
    </style>
{% endblock %}


{% block extend_js %}
    {{ block.super }}

    <script type="text/javascript">
     // Load the classic theme
     Galleria.loadTheme('{% static "js/galleria/themes/twelve/galleria.twelve.js" %}');

     // Initialize Galleria
     Galleria.run('.galleria');


    </script>

{% endblock %}
