{% extends "mnemotopy/base.html" %}
{% load i18n %}
{% load static %}

{% block extend_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% load mnemotopy_tags %}

{% block meta %}
    <meta name="description" content="{% trans 'About Stephan Zimmerli' %}">

    {% for code, label in LANGUAGES %}
        {% language code %}
        <link rel="alternate" href="{% url 'about' %}" hreflang="{{ code }}"/>
        {% endlanguage %}
    {% endfor %}

    <!-- Open graph -->
    <meta property="og:title" content="{% trans 'About Stephan Zimmerli' %}" />
    <meta property="og:site_name" content="Stephan Zimmerli" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{% url 'about' %}" />
    <meta property="og:image" content="{% static 'img/logo.png' %}" />
    <meta content="{% trans 'Zim is a drawer, architect and theater stage designer.' %}" property='og:description' />

    <!-- Twitter -->
    <meta property="twitter:title" content="{% trans 'About Stephan Zimmerli' %}" />
    <meta content="summary" property='twitter:card' />
    <meta content="{% trans 'Zim is a drawer, architect and theater stage designer.' %}" property='twitter:description' />

{% endblock %}

{% block title %}
    {% trans 'Stephan Zimmerli - Visual arts, Architecture, Scenography' %}
{% endblock %}

{% block language_link %}{% url 'about' %}{% endblock %}

{% block main %}
    <div class="about-content">
        <div class="about-content__photo">
            <img src="{% static 'img/zim.jpg' %}">
        </div>
        <div class="about-content__description">
            <p>
                {% blocktrans %}
                    Stephan Zimmerli is a drawer, architect and musician. He shares his time between the tours with his band Moriarty, stage design projects in collaboration with March Lainé (La boutique obscure) and teaching in architecture schools (in London, Lausanne, Rennes and Paris). This experiences lead to a form of art in between visual arts, theater, architecture and music.
                {% endblocktrans %}
            </p>
            <p>
                {% blocktrans %}
                    This inter-disciplinary approach, however, revolves around precise and recurring themes: reminiscence, atmosphere, acoustics, time and matter. It is based concretely on a daily practice of drawing and music, whose traces are systematically archived and ordered in notebooks accumulated for nearly twenty years, thus forming the basis of an art of personal memory: a mnemotopy.
                {% endblocktrans %}
            </p>
        </div>
    </div>

{% endblock %}
