{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block meta %}
        {% endblock %}

        <title>
            {% block title %}{% endblock %}
        </title>

        <link rel="stylesheet" href="{% static 'compressed/css/font-awesome.min.css' %}">

        {% block extend_css %}
        {% endblock %}

        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/base.js' %}"></script>
        {% block head_js %}
        {% endblock %}
    </head>

    <body>

        {% block symbol %}
        {% endblock %}

        {% block header %}
            <header>
                <nav class="header-nav">
                    <ul class="nav-list">
                        {% if return_url %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ return_url }}" data-tooltip="{% trans 'Return to project list' %}">
                                    <svg class="nav-icon icon icon-arrow-left-o">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-left-o"></use>
                                    </svg>
                                </a>
                            </li>
                        {% endif %}

                        <li>

                            <div class="change-lang-menu">
                                <form class="language-switcher-form" action="{% url 'user_change_language' %}" method="post">
                                    {% with path_info=request.get_full_path %}
                                        <input type="hidden" value="{{ path_info }}" name="redirect_url" />
                                    {% endwith %}
                                    <select id="id_mp_lang" name="mp_lang" required>
                                        {% for code, label in LANGUAGES %}
                                            <option value="{{ code }}" {% if code == LANGUAGE_CODE %}selected{% endif %}>{{ label }}</option>
                                        {% endfor %}
                                    </select>
                                </form>
                            </div>
                        </li>

                    </ul>
                </nav>
            </header>

        {% endblock %}

        {% block extend_header %}
        {% endblock %}

        <main {% block main_inner %}{% endblock %}>
            {% block messages %}
            {% endblock %}

            {% block main %}
            {% endblock %}
        </main>

        {% block main_footer %}
        {% endblock %}

        {% block extend_js %}
        {% endblock %}

    </body>
</html>
