{% extends "mnemotopy/base.html" %}
{% load i18n %}

{% load static %}

{% block extend_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block title %}
    {% trans 'Stephan Zimmerli - Visual arts, Architecture, Scenography' %}
{% endblock %}

{% block meta_description %}
    <meta name="description" content="{% blocktrans %}Discover Stephan Zimmerli's work{% endblocktrans %}">
{% endblock %}

{% block meta %}
    {% for code, label in LANGUAGES %}
        {% language code %}
        <link rel="alternate" href="{% url 'home' %}" hreflang="{{ code }}"/>
        {% endlanguage %}
    {% endfor %}

    <!-- Open graph -->
    <meta property="og:title" content="{% blocktrans %}Discover Stephan Zimmerli's work{% endblocktrans %}" />
    <meta property="og:site_name" content="Stephan Zimmerli" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{% url 'home' %}" />
    <meta property="og:image" content="{% static 'img/logo.png' %}" />
    <meta content="{% blocktrans %}Drawer, architect and theater stage designer's art work{% endblocktrans %}" property='og:description' />

    <!-- Twitter -->
    <meta property="twitter:title" content="{% blocktrans %}Discover Stephan Zimmerli's work{% endblocktrans %}" />
    <meta content="summary" property='twitter:card' />
    <meta content="{% blocktrans %}Drawer, architect and theater stage designer's art work{% endblocktrans %}" property='twitter:description' />

{% endblock %}

{% load mnemotopy_tags %}

{% block main %}

    <div class="under-construction">
        <img class="invisible" src="{% static 'img/under_construction.jpg' %}">
        <div class="under-construction__description">
            {% trans "This website is under construction." %}
            <br/>
            {% trans "Soon you will be able to explore Stephan Zimmerli's work." %}
        </div>
    </div>
{% endblock %}

{% block footer_logo_img %}src="{% static 'img/logo_b_n_w.png' %}"{% endblock %}
